<div class="col-10 offset-1 overview">
  <h1>Overview of Final Fantasy Series</h1>

   <p>
    Final Fantasy is a Japanese RPG series developed by Square Enix. The first release was in 1987 and games are still being made to this day. 
  </p>
  <br />
  <p>
    The series are stand alone stories and typically don't follow one another, although there were a couple titles sequels were made. The games are science fantasy where magic and other stuff are used throughout the series.
  </p>
  <p>
    Below will be my review of the series from the first game through the ninth game and side series Tactics.
  </p>

    

    <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff1.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy I</h2>
      <br />
      <p>
        Insert review of Final Fantasy I
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff2.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy II</h2>
      <br />
      <p>
        Insert review of Final Fantasy II
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff3.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy III</h2>
      <br />
      <p>
        Insert review of Final Fantasy III
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff4.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy IV</h2>
      <br />
      <p>
        Insert review of Final Fantasy IV
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff5.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy V</h2>
      <br />
      <p>
        Insert review of Final Fantasy V
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff6.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy VI</h2>
      <br />
      <p>
        Insert review of Final Fantasy VI
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff7.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy VII</h2>
      <br />
      <p>
        Insert review of Final Fantasy VII
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff8.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy VIII</h2>
      <br />
      <p>
        Insert review of Final Fantasy VIII
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff9.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy XI</h2>
      <br />
      <p>
        Insert review of Final Fantasy XI
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'tactics.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy Tactics</h2>
      <br />
      <p>
        Insert review of Final Fantasy Tactics
      </p>
    </div>
  </div>
  <br class="clear">



</div>

<br class="clear" />
<br />
<br />
<br />
<br />