<div class="col-10 offset-1 overview">
  <h1>Overview of Final Fantasy Series</h1>

   <p>
    Final Fantasy is a Japanese RPG series developed by Square Enix. The first release was in 1987 and games are still being made to this day. 
  </p>
  <br />
  <p>
    The series are stand alone stories and typically don't follow one another, although there were a couple titles sequels were made. The games are science fantasy where magic and other stuff are used throughout the series.
  </p>
  <p>
    Below will be my review of the series from Final Fantasy I-IX and side series Final Fantasy Tactics.
  </p>

    

    <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff1.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy I</h2>
      <br />
      <p>
        The first Final Fantasy was released in 1987 and was a decent game for what it was back then. The gameplay is to the point and simple. As you fight battles, you level up and the characters get stronger. The story is very basic and straight forward, but it's not a bad story for being released in the lates 80's. You play as these four warriors of light who have to save the world from darkness. There are no names for these characters and there isn't much dialogue in the game, but the story is easy to follow. The game starts off with the Villain, Garland kidnapping the princess and the King requests that you save her. The heros save the Princess and kill Garland. Your quest doesn't end there as you find out that the world is slowly being covered in darkness and by these four fiends that have been released into the world. In order to restore the world from the darkness, four crystals must be gathered that are guarded by these four fiends. In the end you travel back in time and find out that Garland is actually behind the fiends being released. You find out through cutscenes that when you killed Garland basically made a deal with the devil when you killed him in the beginning of the game. In the end you defeat Garland again and save the world from darkness. Overall the game is decent and I would give Final Fantasy I a score of 75.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff2.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy II</h2>
      <br />
      <p>
        Final Fantasy II was released a year later and there were some changes made with the game that probably didn't need to be changed. The gameplay really drags Final Fantasy II down a lot and hurts it in being one of the better games in the series. There are no levels throughout the game, as each skill/ability/weapon levels up individually upon use and if you have a weapon equipped. Basically if I want to level up my cure ability I have to use it, the issue with that is if I'm in battles where I don't need to use cure then it won't be good enough by the time I have to use cure for more difficult battles. Aside from the gameplay, the story is actually a really good one, a lot better than the first game, and gives Final Fantasy II some sort of leg to stand on. The characters actually have names and there is a good amount of dialogue throughout the story that give meaning to the characters and the story itself. The game starts out with the Emperor burning down low income villages, taking them over and keeping the survivors as slaves. The Emperor also has a strong army in order to do this and his main goal is to rule over the world. One of the villages that gets burned down is the protagonists' hometown where are their friends and family were salughtered, the four characters you play as were the only ones that survived. The main plot of the story is to takedown the Emperor, but having dialogue throughout the game and working with rebel armies that want to takedown the Emperor too give the story a lot more meaning and character. Overall this game has earned a 70 for me, it's just very difficult to get past the dreading gameplay.  
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff3.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy III</h2>
      <br />
      <p>
        Final Fantasy III in my opinion is the worst one in the series and shouldn't even exist. The gameplay is fine I guess, but could have been a lot better. There is a job system in the game where any character can be any class at any time, but it's just kind of boring. The story is pretty much the same as the first game, I actually thought I was playing a remake of Final Fantasy I. The plot is to gather the four crystals to save the world from darkness... again. The main antagonist can't even be considered as a main villian as you discover it/her I guess in the las hour of the game. The main villain is called Cloud of Darkness who is summoned by another bad guy in the game as he's dying, and Cloud of Darkness looks... well like a literal cloud of darkness with a slight female form. story's dialogue felt like it was written by seven year old and was just attention grabbing at all. This game gets a score of 50.
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff4.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy IV</h2>
      <br />
      <p>
        Final Fantasy IV is one of the better ones in the series and actually kind of started to revolutionize the Final Fantasy Series. The gameplay is great, really absolutley no flaws in what the developers wanted to do with the gameplay. The story is... yes again with the four crystals and having to get the four crystals to overcome the darkness. However, there is a lot more dialogue in the story and is pretty well written too. The story keeps you invested and makes you forget that you played this same plot in two of the games already. There is even a nice twist near the end where you find out Golbez, the main villain you've been fighting the whole game is actually your brother, who became possessed to do evil bidding. Golbez joins with you at the end of the came to help his brother and is actually quite touching. I would definely recommend this game and would play it again. Score of 95.   
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff5.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy V</h2>
      <br />
      <p>
        Final Fantasy V... okay hopefully last time with getting the four crystals and saving the world. Not nearly as good as IV with the story but definitley a lot more entertaining than III. The overall theme of the game is very kiddish and the story is not horrible, but this is also the fourth game with crystals and it's getting kind of stale. The gameplay is very similar to III, but tremendously more entertaining. I probably wouldn't play this game again, because of the theme of the story and I don't like the main protagonist, but mostly from gameplay I would rate this game a solid 80.
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff6.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy VI</h2>
      <br />
      <p>
        Final Fantasy VI, considered to be the best in the series. The gameplay differs a lot from the other games and gives a unique way of leveling up your characters. Characters have normal levels and can be made even stronger by equipping Espers on them that have certain skills/stats depending on the Esper that you equip. The story is really great and finally we are done with the crystals. Espers are a non human species with incredible power and ties into the story. Kefka is the main villain and he plots to gain the power of the Espers by turning them into what is called magicite and absorbing them. The story is very well written and meaningful, this gamne is very close to IV in my opinion and would give VI the same score of 95 as I can't decide which one I like better.  
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff7.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy VII</h2>
      <br />
      <p>
        Final Fantasy VII, easily the most popular in the franchise with probably the best villian too. The gameplay is awesome down to the characters and the music of the game. This is the first game that introduced a limit break feature, which is basically a super attack the characters can perform when suffered enough damage. The story is well thought out that keeps you invested the whole game and keeps you guessing. There is definitley a lot to talk about as the story isn't as straight forward as the other games, but that is what makes the story amazing. This game is a solid 100. 
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff8.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy VIII</h2>
      <br />
      <p>
        After playing VII, Final Fantasy VIII just doesn't compare. VIII is not a bad game at all, but the story isn't as interesting as it can be and has a really slow start. The story does pick up in the end, and the main villain is actually pretty cool as she is from the future and can create time paradoxes to move around time to gain power. In the end the only way to defeat her is to jump to her time, where she is a ruler and has pretty much as the entire world enslaved. The gameplay is very good and simliar to VI where you can equip what are called Guardian Forces to characters to power them with strong abilities. This game does implement a limit break feature, but is not nearly as good as VII's because the limit break feature only occurs when the character is low on health and occurs randomly after that. This game I would rate an 84. 
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'ff9.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy IX</h2>
      <br />
      <p>
        I am still currently playing Final Fantasy IX, but so far I can see this game being up there as one of the best in the series.
      </p>
    </div>
  </div>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:50px;">
      <%= image_tag 'tactics.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Final Fantasy Tactics</h2>
      <br />
      <p>
        Final Fantasy Tactics is a side series and in my opinion is the best game in the franchise. The gameplay is perfect. The story is perfect. The story really keeps you guessing and surprised. The story of this game kinda reminds me of Game of Thrones and there are numerous sides and fighting for different ends. This game is definitley a 100 and I have played it several times.
      </p>
    </div>
  </div>
  <br class="clear">



</div>

<br class="clear" />
<br />
<br />
<br />
<br />